## Tutorial 10 
### Working with Dates and TimeSeries data

In [50]:
import pandas as pd
from pathlib import Path

data_path = Path.cwd().parent / "data" / "ETH-Daily.csv"

In [51]:
import numpy as np

In [66]:
df = pd.read_csv(data_path)

In [67]:
df["Symbol"] = "ETHUSD"
df['Open'] = df['Open'].str.replace(",","")
df['High'] = df['High'].str.replace(",","")
df['Low'] = df['Low'].str.replace(",","")
df['Close'] = df['Close'].str.replace(",","")

In [68]:
from random import randrange

def randomize(val):
    return str(round(float(val) + (randrange(-100, 100)*float(val)/ 1000), 2))

def new_df(row, dt):
    return pd.DataFrame({"Datetime": [dt + " " + str(h)+ ":00" for h in range(24)],
                        "Open": [randomize(row["Open"].iloc[0]) for _ in range(24)],
                         "High" : [randomize(row["High"].iloc[0]) for _ in range(24)],
                         "Low" : [randomize(row["Low"].iloc[0]) for _ in range(24)],
                         "Close" : [randomize(row["Close"].iloc[0]) for _ in range(24)],
                         "Symbol": ["ETHUSD" for _ in range(24)]})

In [69]:
dates = df['Date'].tolist()

new_df = pd.concat([new_df(df[df['Date'] == d], d) for _,d in enumerate(dates)],axis=0,ignore_index=True)

new_df['Datetime'] = pd.to_datetime(new_df['Datetime'])
new_df

               Datetime     Open     High      Low    Close  Symbol
0   2023-12-12 00:00:00  2316.67  2324.41  1971.46   2320.2  ETHUSD
1   2023-12-12 01:00:00  2179.22  2243.72  2296.43  2333.22  ETHUSD
2   2023-12-12 02:00:00  2157.05   2026.3  1993.12  2014.17  ETHUSD
3   2023-12-12 03:00:00  2409.78   2248.2  2010.46  1988.12  ETHUSD
4   2023-12-12 04:00:00  2354.36  2120.44  2001.79  2020.68  ETHUSD
..                  ...      ...      ...      ...      ...     ...
739 2023-11-12 19:00:00  2084.37  1894.92  1890.87  1868.49  ETHUSD
740 2023-11-12 20:00:00  1967.78  2180.08  1818.22  2239.31  ETHUSD
741 2023-11-12 21:00:00  2137.56  2271.01  2128.99  1876.73  ETHUSD
742 2023-11-12 22:00:00  2090.51  2099.49  2199.62  1858.19  ETHUSD
743 2023-11-12 23:00:00  1990.28  1911.45  2046.25  2179.56  ETHUSD

[744 rows x 6 columns]

In [70]:
new_df.loc[0, 'Datetime'].day_name()

'Tuesday'

In [71]:
new_df.set_index(['Datetime'], inplace=True)

In [72]:
new_df["High"].resample("H").max()

Datetime
2023-11-12 00:00:00    2190.42
2023-11-12 01:00:00    2233.81
2023-11-12 02:00:00    2140.82
2023-11-12 03:00:00    2039.57
2023-11-12 04:00:00    2173.88
                        ...
2023-12-12 19:00:00    2409.59
2023-12-12 20:00:00    2196.65
2023-12-12 21:00:00    2194.41
2023-12-12 22:00:00    2219.07
2023-12-12 23:00:00    2066.64
Freq: H, Name: High, Length: 744, dtype: object