## Learn pandas 
Based on the tutorial on YouTube

(https://www.youtube.com/playlist?list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)

In [1]:
import pandas as pd 
from pathlib import Path

data_path = Path.cwd().parent / "data" / "survey_results_public.csv" 
schema_path = Path.cwd().parent / "data" / "survey_results_schema.csv"

In [2]:
df = pd.read_csv(data_path)

In [3]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [4]:
#Show size Rows x Columns
df.shape

(88883, 85)

In [5]:
pd.set_option("display.max_columns", 85)
pd.set_option("display.max_rows", 85)

In [30]:
schema_df = pd.read_csv(schema_path, index_col="Column")

In [7]:
schema_df.shape
schema_df

                    Column                                       QuestionText
0               Respondent  Randomized respondent ID number (not in order ...
1               MainBranch  Which of the following options best describes ...
2                 Hobbyist                            Do you code as a hobby?
3              OpenSourcer        How often do you contribute to open source?
4               OpenSource  How do you feel about the quality of open sour...
5               Employment  Which of the following best describes your cur...
6                  Country          In which country do you currently reside?
7                  Student  Are you currently enrolled in a formal, degree...
8                  EdLevel  Which of the following best describes the high...
9           UndergradMajor  What was your main or most important field of ...
10                EduOther  Which of the following types of non-degree edu...
11                 OrgSize  Approximately how many people are employed by ...
12                 DevType  Which of the following describe you? Please se...
13               YearsCode  Including any education, how many years have y...
14              Age1stCode  At what age did you write your first line of c...
15            YearsCodePro  How many years have you coded professionally (...
16               CareerSat  Overall, how satisfied are you with your caree...
17                  JobSat  How satisfied are you with your current job? (...
18                MgrIdiot  How confident are you that your manager knows ...
19                MgrMoney  Do you believe that you need to be a manager t...
20                 MgrWant  Do you want to become a manager yourself in th...
21                 JobSeek  Which of the following best describes your cur...
22            LastHireDate  When was the last time that you took a job wit...
23                 LastInt  In your most recent successful job interview (...
24                FizzBuzz  Have you ever been asked to solve FizzBuzz in ...
25              JobFactors  Imagine that you are deciding between two job ...
26            ResumeUpdate  Think back to the last time you updated your r...
27          CurrencySymbol  Which currency do you use day-to-day? If your ...
28            CurrencyDesc  Which currency do you use day-to-day? If your ...
29               CompTotal  What is your current total compensation (salar...
30                CompFreq   Is that compensation weekly, monthly, or yearly?
31           ConvertedComp  Salary converted to annual USD salaries using ...
32             WorkWeekHrs   On average, how many hours per week do you work?
33                WorkPlan            How structured or planned is your work?
34           WorkChallenge  Of these options, what are your greatest chall...
35              WorkRemote                    How often do you work remotely?
36                 WorkLoc                    Where would you prefer to work?
37                  ImpSyn  For the specific work you do, and the years of...
38                 CodeRev           Do you review code as part of your work?
39              CodeRevHrs  On average, how many hours per week do you spe...
40               UnitTests  Does your company regularly employ unit tests ...
41             PurchaseHow  How does your company make decisions about pur...
42            PurchaseWhat  What level of influence do you, personally, ha...
43      LanguageWorkedWith  Which of the following programming, scripting,...
44  LanguageDesireNextYear  Which of the following programming, scripting,...
45      DatabaseWorkedWith  Which of the following database environments h...
46  DatabaseDesireNextYear  Which of the following database environments h...
47      PlatformWorkedWith  Which of the following platforms have you done...
48  PlatformDesireNextYear  Which of the following platforms have you done...
49      WebFrameWorkedWith  Which of the following web frameworks have you...
50  WebFrameDesireNextYear  Which of the following web frameworks have you...
51      MiscTechWorkedWith  Which of the following other frameworks, libra...
52  MiscTechDesireNextYear  Which of the following other frameworks, libra...
53              DevEnviron  Which development environment(s) do you use re...
54                   OpSys  What is the primary operating system in which ...
55              Containers  How do you use containers (Docker, Open Contai...
56           BlockchainOrg  How is your organization thinking about or imp...
57            BlockchainIs  Blockchain / cryptocurrency technology is prim...
58              BetterLife  Do you think people born today will have a bet...
59                ITperson   Are you the "IT support person" for your family?
60                   OffOn        Have you tried turning it off and on again?
61             SocialMedia        What social media site do you use the most?
62            Extraversion    Do you prefer online chat or IRL conversations?
63              ScreenName                               What do you call it?
64              SOVisit1st  To the best of your memory, when did you first...
65             SOVisitFreq  How frequently would you say you visit Stack O...
66               SOVisitTo  I visit Stack Overflow to... (check all that a...
67            SOFindAnswer  On average, how many times a week do you find ...
68             SOTimeSaved  Think back to the last time you solved a codin...
69           SOHowMuchTime  About how much time did you save? If you're no...
70               SOAccount              Do you have a Stack Overflow account?
71              SOPartFreq  How frequently would you say you participate i...
72                  SOJobs  Have you ever used or visited Stack Overflow J...
73                EntTeams  Have you ever used Stack Overflow for Enterpri...
74                  SOComm  Do you consider yourself a member of the Stack...
75           WelcomeChange  Compared to last year, how welcome do you feel...
76            SONewContent  Would you like to see any of the following on ...
77                     Age  What is your age (in years)? If you prefer not...
78                  Gender  Which of the following do you currently identi...
79                   Trans                    Do you identify as transgender?
80               Sexuality  Which of the following do you currently identi...
81               Ethnicity  Which of the following do you identify as? Ple...
82              Dependents  Do you have any dependents (e.g., children, el...
83            SurveyLength  How do you feel about the length of the survey...
84              SurveyEase  How easy or difficult was this survey to compl...

In [8]:
df.head(10)
df.tail()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;Other(s):,C++;HTML/CSS;JavaScript;SQL;WebAssembly;Other(s):,Firebase;SQLite,Firebase;MySQL;SQLite,Linux,Google Cloud Platform;Linux,jQuery,jQuery;Vue.js,Node.js,React Native;Unity 3D;Unreal Engine,Atom;Visual Studio;Visual Studio Code,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,What?,YouTube,NaN,Username,I don't remember,A few times per week,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not at all",NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,NaN,NaN,8,11,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,C;C++;C#;HTML/CSS;Java;Objective-C;SQL;Swift,DynamoDB;MariaDB;Microsoft SQL Server;MySQL,MariaDB;MySQL;Oracle;SQLite,iOS;Linux;MacOS;WordPress,Android;AWS;Google Cloud Platform;IBM Cloud or...,Django;jQuery;React.js,Django,Unity 3D;Unreal Engine,NaN,Android Studio;Atom;Eclipse;NetBeans;Notepad++...,Linux-based,Production,NaN,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Also Yes,Yes,WhatsApp,In real life (in person),NaN,2012,Daily or almost daily,Find answers to specific questions;Learn how t...,6-10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,Yes,"No, I've heard of them, but I am not part of a...","Yes, somewhat",Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

## Tutorial 2 
### DataFrame and Series

In [9]:
people = {
    "first" : ["Ajay" , "Nitin" , "Raj" ],
    "last" : ["Chani", "Naraaz", "Patil"],
    "email" : ["ajay@gmail.com", "nitin@hotmail.com" , "raj@ms.com" ]
}

In [135]:
#we can create a DF from a dictionary
df_temp = pd.DataFrame(people)

In [11]:
df_temp

   first    last              email
0   Ajay   Chani     ajay@gmail.com
1  Nitin  Naraaz  nitin@hotmail.com
2    Raj   Patil         raj@ms.com

In [12]:
#Access a column just like a key in a dictionary
df_temp['email']

0       ajay@gmail.com
1    nitin@hotmail.com
2           raj@ms.com
Name: email, dtype: object

In [14]:
#Type of the column is "pandas.core.series.Series" => a One Dimensional Array
type(df_temp['email'])
#can also use "." but better to use first method as . notation may cause errors like column name clashing with a method of DataFrame.
df_temp.email

0       ajay@gmail.com
1    nitin@hotmail.com
2           raj@ms.com
Name: email, dtype: object

In [ ]:
#Select multiple columns. When selecting multiple columns, it is no longer a Series. 
#It returns a new DataFrame now. Index here will be integers 0,1,2.. 
df_temp[['last', 'email']]

In [ ]:
#Get a list of all columns
df_temp.columns

In [ ]:
#To get rows we can use "loc" or "iloc" indexes 
#iloc => access rows by Integer location

#to get first row. Returns a series containing values in the first row. Index here will be column names. 
df_temp.iloc[0]

In [ ]:
#Select multiple rows and specific columns. Cannot use column name. must use indexes.

df_temp.iloc[[0,1], [0,1]]

In [ ]:
# 'loc' is to select by "labels" 
df_temp.loc[0] #here 0 is used as label becuase the index has values 0,1,2..

In [ ]:
#we can now use column name.
df_temp.loc[[0,1],['email','first']]

In [ ]:
df.columns

In [ ]:
df['Hobbyist']

### Now some features of Pandas

In [ ]:
#How many users say Yes and how many No for "hobbyist" question
df['Hobbyist'].value_counts()

In [ ]:
df.loc[[0,1,2], 'Hobbyist']
#Can also use slicing like lists. But it includes both values. 
df.loc[0:2, 'Hobbyist':'Employment']

## Tutorial 3 
### Indexes - How to Set, Reset and use Indexes

In [21]:
#back to small DataFrame
df_temp

                   first    last
email
ajay@gmail.com      Ajay   Chani
nitin@hotmail.com  Nitin  Naraaz
raj@ms.com           Raj   Patil

In [ ]:
#Pandas does not enforce Indexes to be unique but it mostly is 
#we can use something different as the index. E.g. email 
df_temp.set_index('email')
#this does not change the DataFrame permenently. only temporarily. To make permanent use 'inplace=True'

df_temp.set_index('email', inplace=True)

In [22]:
df_temp.loc['raj@ms.com']

first      Raj
last     Patil
Name: raj@ms.com, dtype: object

In [26]:
#accessing rows by Integer index with loc method will not work. but we can still use iloc 
#if we need to reset this we can use the follwoing 
df_temp.reset_index(inplace=True)
df_temp

   index              email  first    last
0      0     ajay@gmail.com   Ajay   Chani
1      1  nitin@hotmail.com  Nitin  Naraaz
2      2         raj@ms.com    Raj   Patil

### Back to Stackoverflow DataSet
Stackover dataframe already has a very good candidate for Index. Column "Respondant" is already a good integer index.

In [28]:
df.set_index("Respondent",inplace=True)

In [29]:
df.head()

,level_0,index,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,...,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,1,1,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,2,2,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",...,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,3,3,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",...,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,4,4,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",...,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [ ]:
schema_df

In [34]:
#We changed the index column for Schema dataset to use the column name "Column" as index. 
#Now we can do the following to look up the detailed information of the question text by using column name . 
schema_df.loc['MgrIdiot', 'QuestionText']

'How confident are you that your manager knows what they’re doing?'

In [ ]:
#We can sort the index to make it easier to browse 
schema_df.sort_index()
schema_df.sort_index(ascending=True)
#We need to use 'inplace=True' to make it permanent.

## Tutorial 4 
### Filtering data - Using Conditionals

In [36]:
#Filter mask is returned by following line. True where condition is met and Falst otherwise. Return Type : Series (containing True or False)
df_temp['last'] == "Chani"

0     True
1    False
2    False
Name: last, dtype: bool

In [37]:
filt = (df_temp['last'] == 'Chani')

In [39]:
df_temp[filt]

   index           email first   last
0      0  ajay@gmail.com  Ajay  Chani

In [42]:
#Other way to do the same. Benefit of using this method is that you can still select the Columns you need. 
df_temp.loc[filt, 'email']

0    ajay@gmail.com
Name: email, dtype: object

In [55]:
# and and or operator (Cannot use the same symbol as Python. So need to use & for and AND | for or 
# (doesn't work without proper parenthesis) filt = df_temp['email'].str.contains('mail') & df_temp['last'] == "Chani"
filt = (df_temp['email'].str.contains('mail')) | (df_temp['last'] == "Patil")

In [56]:
df_temp.loc[filt]

   index              email  first    last
0      0     ajay@gmail.com   Ajay   Chani
1      1  nitin@hotmail.com  Nitin  Naraaz
2      2         raj@ms.com    Raj   Patil

In [59]:
# '~' Negates the filter
filt = (df_temp['email'].str.contains('mail')) & (df_temp['last'] == "Chani")

In [60]:
df_temp.loc[~filt]

   index              email  first    last
1      1  nitin@hotmail.com  Nitin  Naraaz
2      2         raj@ms.com    Raj   Patil

### Now back to Stackoverflow DataFrame

In [61]:
high_salary = (df['ConvertedComp'] > 70000)

In [64]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [65]:
#filter based on a list 
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
filt = df['Country'].isin(countries)

In [66]:
df.loc[filt, ['Country']]

                   Country
Respondent
1           United Kingdom
4            United States
6                   Canada
8                    India
10                   India
...                    ...
85642        United States
85961       United Kingdom
86012                India
88282        United States
88377               Canada

[45008 rows x 1 columns]

In [74]:
# na=False handles the NaN values. Otherwise we get the following error 
# ValueError: Cannot mask with non-boolean array containing NA / NaN values
python = (df['LanguageWorkedWith'].str.contains('Python', na=False))

In [76]:
df.loc[python, ['Country', 'LanguageWorkedWith']]

,Country,LanguageWorkedWith
Respondent,,
1,United Kingdom,HTML/CSS;Java;JavaScript;Python
2,Bosnia and Herzegovina,C++;HTML/CSS;Python
4,United States,C;C++;C#;Python;SQL
5,Ukraine,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8,India,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
...,...,...
84539,United Kingdom,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738,Brazil,Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566,Switzerland,Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739,Czech Republic,C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212,Spain,HTML/CSS;JavaScript;Python

## Tutorial 5 
### Updating Rows and Columns

### 1. Updating Columns

In [77]:
df_temp.columns

Index(['index', 'email', 'first', 'last'], dtype='object')

In [87]:
#Renaming Columns 
#Rename all the columns 
df_temp.columns = ['index', 'email', 'first_name', 'last_name']

In [88]:
df_temp.columns

Index(['index', 'email', 'first_name', 'last_name'], dtype='object')

In [85]:
#Common update for all columns. e.g. upper case all columns 
df_temp.columns = [x.upper() for x in df_temp.columns]

#other examples 
df_temp.columns = df_temp.columns.str.replace(' ', '_')

In [86]:
df_temp.columns

Index(['INDEX', 'EMAIL', 'FIRST_NAME', 'LAST_NAME'], dtype='object')

In [91]:
#Update only specific columns 
df_temp.rename(columns = {"first_name": 'first', 'last_name': 'last'}, inplace=True)
df_temp.columns

Index(['index', 'email', 'first', 'last'], dtype='object')

### 2. Updating Rows

In [95]:
#Change row by passing all values in a list
df_temp.loc[2] = [2,'raj@ms2.com', 'Raja', 'Sahib']

In [96]:
#change only specific columns
df_temp.loc[2, ['last', 'email']] = ['Babu', 'raja@ms.com']

In [97]:
df_temp

   index              email  first    last
0      0     ajay@gmail.com   Ajay   Chani
1      1  nitin@hotmail.com  Nitin  Naraaz
2      2        raja@ms.com   Raja    Babu

In [99]:
#Change single value using @ (available for performance reasons) 
df_temp.at[2, 'last'] = 'Sabhib'

In [100]:
df_temp

   index              email  first    last
0      0     ajay@gmail.com   Ajay   Chani
1      1  nitin@hotmail.com  Nitin  Naraaz
2      2        raja@ms.com   Raja  Sabhib

### Cannot update the original dataset based on a filter selection. 
**See the following error for details. Use the loc or iloc to reliably update the DataFrame.**

/var/folders/hh/_nslv0c50tnfyk7l6f8p4pvm0000gn/T/ipykernel_43960/541336987.py:2: SettingWithCopyWarning: 
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp[filt] ['last'] = 'Babu'

In [105]:
#if we try to update a value based on the selection by a filter, the original dataset is not updated. 
filt= (df_temp['email'] == 'raja@ms.com')
df_temp[filt] ['last'] = 'Babu'

/var/folders/hh/_nslv0c50tnfyk7l6f8p4pvm0000gn/T/ipykernel_43960/541336987.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp[filt] ['last'] = 'Babu'

In [107]:
#Correct way to use filter to update the rows 
df_temp.loc[filt, 'last'] = 'babu'
df_temp

   index              email  first    last
0      0     ajay@gmail.com   Ajay   Chani
1      1  nitin@hotmail.com  Nitin  Naraaz
2      2        raja@ms.com   Raja    babu

### Updating multiple rows

In [111]:
df_temp['email'] = df_temp['email'].str.upper()
df_temp

   index              email  first    last
0      0     AJAY@GMAIL.COM   Ajay   Chani
1      1  NITIN@HOTMAIL.COM  Nitin  Naraaz
2      2        RAJA@MS.COM   Raja    babu

### Other Complex methods for update
- apply [ *Works differently for **Series** and **DataFrames** * ]
- map
- applymap
- replace

### apply method for Series objects

In [112]:
#apply is used for calling a function on the values. works for DataFrame or a Series
#apply function to all values in a Series

df_temp['email'].apply(len) #get length of the email for all values

0    14
1    17
2    11
Name: email, dtype: int64

In [117]:
#Can be used to update the values 
#can be any complex function 
def update_email(email):
    return email.lower()

#df_temp['email'] = df_temp['email'].apply(update_email)

#can also use a lambda function 
df_temp['email'] = df_temp['email'].apply(lambda x: x.lower())
df_temp

   index              email  first    last
0      0     ajay@gmail.com   Ajay   Chani
1      1  nitin@hotmail.com  Nitin  Naraaz
2      2        raja@ms.com   Raja    babu

### Apply method for DataFrame objects
For a dataframe the apply runs a function on each row and column of the DataFrame

In [122]:
#The following gives unexpected output. We might expect it will apply the function to each values of each row. 
#However it applies to each Series (specifically each Column) 

### 

# index    3 (index has 3 values)
# email    3 
# first    3
# last     3
# dtype: int64

###
df_temp.apply(len)

index    3
email    3
first    3
last     3
dtype: int64

In [124]:
#We can do the same for a specific column
len(df_temp['email'])

3

In [126]:
#We can specify axis (i.e. apply based on columns instead of default 'rows')
# in this case it shows how many columns in each row. 
df_temp.apply(len, axis='columns')

0    4
1    4
2    4
dtype: int64

In [128]:
#other functions that can be used for apply 
df_temp.apply(pd.Series.min)

index                 0
email    ajay@gmail.com
first              Ajay
last              Chani
dtype: object

In [130]:
#Can also use lambda functions (works on a Series) 
df_temp.apply(lambda x: x.min())

index                 0
email    ajay@gmail.com
first              Ajay
last              Chani
dtype: object

### How to apply a function on each value in each row/column of a DataFrame? 
**Use applymap**

In [133]:
df_temp.reset_index()

   level_0  index              email  first    last
0        0      0     ajay@gmail.com   Ajay   Chani
1        1      1  nitin@hotmail.com  Nitin  Naraaz
2        2      2        raja@ms.com   Raja    babu

### applymap and map functions 
**applymap is deprecated and is replaced by DataFrame.map**

In [138]:

df_temp.applymap(len)

/var/folders/hh/_nslv0c50tnfyk7l6f8p4pvm0000gn/T/ipykernel_43960/3630236004.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_temp.applymap(len)

   first  last  email
0      4     5     14
1      5     6     17
2      3     5     10

In [139]:
df_temp.map(str.lower)

   first    last              email
0   ajay   chani     ajay@gmail.com
1  nitin  naraaz  nitin@hotmail.com
2    raj   patil         raj@ms.com

In [140]:
df_temp

   first    last              email
0   Ajay   Chani     ajay@gmail.com
1  Nitin  Naraaz  nitin@hotmail.com
2    Raj   Patil         raj@ms.com

In [142]:
#using map with a Series to replace only specific Values. 
#PLEASE NOTE: the values not in the dictionary of values that we want to replace are repalced by NaN
#if we want to retain those values, use replace instead. 
df_temp['first'].map({'Ajay': 'Vansh', 'Nitin': 'Bandar'})

0     Vansh
1    Bandar
2       NaN
Name: first, dtype: object

### replace method

In [143]:
df_temp['first'].replace({'Ajay': 'Vansh', 'Nitin': 'Bandar'})
#if we want to update the original DataFrame, assign the output to the column 
#df_temp['first'] = df_temp['first'].replace({'Ajay': 'Vansh', 'Nitin': 'Bandar'})

0     Vansh
1    Bandar
2       Raj
Name: first, dtype: object

### Back to Stackoverflow Survey DataFrame now

In [146]:
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)
df['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
88377        NaN
88601        NaN
88802        NaN
88816        NaN
88863        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [148]:
#Anything not in the dictionary will get converted to 'NaN'
df['Hobbyist'] = df['Hobbyist'].map({'Yes':True, 'No': False})
#To retain other values, use replace method.

## Tutorial 6 
### Add / Remove Rows and Columns

In [149]:
#Adding Columns 
df_temp['full_name'] = df_temp['first'] + " " + df_temp['last']
#! Cannot use dot notation (df_temp.full_name) !!!

In [150]:
df_temp

   first    last              email     full_name
0   Ajay   Chani     ajay@gmail.com    Ajay Chani
1  Nitin  Naraaz  nitin@hotmail.com  Nitin Naraaz
2    Raj   Patil         raj@ms.com     Raj Patil

In [153]:
df_temp.drop(columns=['first','last'], inplace=True)
# inplace=True to persist/update the DataFrame

In [154]:
df_temp

               email     full_name
0     ajay@gmail.com    Ajay Chani
1  nitin@hotmail.com  Nitin Naraaz
2         raj@ms.com     Raj Patil

In [155]:
#Use split to chagne full name to first and last 
df_temp['full_name'].str.split(" ")

0      [Ajay, Chani]
1    [Nitin, Naraaz]
2       [Raj, Patil]
Name: full_name, dtype: object

In [156]:
#to assign the output to different new columns 
df_temp['full_name'].str.split(' ', expand=True)

       0       1
0   Ajay   Chani
1  Nitin  Naraaz
2    Raj   Patil

In [158]:
df_temp[['first','last']] = df_temp['full_name'].str.split(' ', expand=True)

In [159]:
df_temp

               email     full_name  first    last
0     ajay@gmail.com    Ajay Chani   Ajay   Chani
1  nitin@hotmail.com  Nitin Naraaz  Nitin  Naraaz
2         raj@ms.com     Raj Patil    Raj   Patil

***Please Note append method was removed and replaced by concat***

In [161]:
#Add / Remove Rows 
# Add single row 
df_temp.append({'first': 'Tony'}, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

### Read documentation on concat 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

In [166]:

pd.concat([df_temp, pd.DataFrame([{'first': 'Tony'}])], ignore_index=True)

               email     full_name  first    last
0     ajay@gmail.com    Ajay Chani   Ajay   Chani
1  nitin@hotmail.com  Nitin Naraaz  Nitin  Naraaz
2         raj@ms.com     Raj Patil    Raj   Patil
3                NaN           NaN   Tony     NaN

In [167]:
#WE can concat multiple DataFrames as well 
people = {
    "first" : ["Ram" , "Shyam" , "Suresh" ],
    "last" : ["Bahadur", "Singh", "Gupta"],
    "email" : ["ram@gmail.com", "shyam@hotmail.com" , "suresh@ms.com" ]
}
df2_temp = pd.DataFrame(people)

In [168]:
df2_temp

    first     last              email
0     Ram  Bahadur      ram@gmail.com
1   Shyam    Singh  shyam@hotmail.com
2  Suresh    Gupta      suresh@ms.com

In [169]:
df_temp

               email     full_name  first    last
0     ajay@gmail.com    Ajay Chani   Ajay   Chani
1  nitin@hotmail.com  Nitin Naraaz  Nitin  Naraaz
2         raj@ms.com     Raj Patil    Raj   Patil

In [170]:
pd.concat([df_temp,df2_temp], ignore_index=True)

               email     full_name   first     last
0     ajay@gmail.com    Ajay Chani    Ajay    Chani
1  nitin@hotmail.com  Nitin Naraaz   Nitin   Naraaz
2         raj@ms.com     Raj Patil     Raj    Patil
3      ram@gmail.com           NaN     Ram  Bahadur
4  shyam@hotmail.com           NaN   Shyam    Singh
5      suresh@ms.com           NaN  Suresh    Gupta

In [172]:
df3_temp = pd.concat([df_temp,df2_temp], ignore_index=True)
df3_temp

               email     full_name   first     last
0     ajay@gmail.com    Ajay Chani    Ajay    Chani
1  nitin@hotmail.com  Nitin Naraaz   Nitin   Naraaz
2         raj@ms.com     Raj Patil     Raj    Patil
3      ram@gmail.com           NaN     Ram  Bahadur
4  shyam@hotmail.com           NaN   Shyam    Singh
5      suresh@ms.com           NaN  Suresh    Gupta

In [174]:
#Removing Rows 
#Same like columns but we can pass index of the rows. 
df3_temp.drop(index = 4)

               email     full_name   first     last
0     ajay@gmail.com    Ajay Chani    Ajay    Chani
1  nitin@hotmail.com  Nitin Naraaz   Nitin   Naraaz
2         raj@ms.com     Raj Patil     Raj    Patil
3      ram@gmail.com           NaN     Ram  Bahadur
5      suresh@ms.com           NaN  Suresh    Gupta

In [175]:

filt = df3_temp['last'] == "Gupta"
df3_temp.drop(index = df3_temp[filt].index)

               email     full_name  first     last
0     ajay@gmail.com    Ajay Chani   Ajay    Chani
1  nitin@hotmail.com  Nitin Naraaz  Nitin   Naraaz
2         raj@ms.com     Raj Patil    Raj    Patil
3      ram@gmail.com           NaN    Ram  Bahadur
4  shyam@hotmail.com           NaN  Shyam    Singh

## Tutorial 7
### Sorting

In [176]:
df_temp.sort_values(by='last')

               email     full_name  first    last
0     ajay@gmail.com    Ajay Chani   Ajay   Chani
1  nitin@hotmail.com  Nitin Naraaz  Nitin  Naraaz
2         raj@ms.com     Raj Patil    Raj   Patil

In [177]:
df_temp.sort_values(by='email', ascending = False)

               email     full_name  first    last
2         raj@ms.com     Raj Patil    Raj   Patil
1  nitin@hotmail.com  Nitin Naraaz  Nitin  Naraaz
0     ajay@gmail.com    Ajay Chani   Ajay   Chani

In [178]:
#Sort on multiple columns
df_temp.sort_values(by=['last','first'])

               email     full_name  first    last
0     ajay@gmail.com    Ajay Chani   Ajay   Chani
1  nitin@hotmail.com  Nitin Naraaz  Nitin  Naraaz
2         raj@ms.com     Raj Patil    Raj   Patil

In [184]:
#Sort on multiple columns but ascending on one and desending on the other column

df3_temp.loc[4, ['last']] = "Patil"
df3_temp.sort_values(by=['last','first'], ascending=[False,True], inplace=True)

In [185]:
df3_temp

               email     full_name   first     last
2         raj@ms.com     Raj Patil     Raj    Patil
4  shyam@hotmail.com           NaN   Shyam    Patil
1  nitin@hotmail.com  Nitin Naraaz   Nitin   Naraaz
5      suresh@ms.com           NaN  Suresh    Gupta
0     ajay@gmail.com    Ajay Chani    Ajay    Chani
3      ram@gmail.com           NaN     Ram  Bahadur

In [186]:
#Reset the sort back to original value 
df3_temp.sort_index()

               email     full_name   first     last
0     ajay@gmail.com    Ajay Chani    Ajay    Chani
1  nitin@hotmail.com  Nitin Naraaz   Nitin   Naraaz
2         raj@ms.com     Raj Patil     Raj    Patil
3      ram@gmail.com           NaN     Ram  Bahadur
4  shyam@hotmail.com           NaN   Shyam    Patil
5      suresh@ms.com           NaN  Suresh    Gupta

In [188]:
#if we want to just sort a single column we can use sort method on the Series. 
df3_temp['last'].sort_values()

3    Bahadur
0      Chani
5      Gupta
1     Naraaz
2      Patil
4      Patil
Name: last, dtype: object

### Back to Stackoverflow Dataset

In [189]:
df.sort_values(by="Country", inplace=True)

In [194]:
df.sort_values(by=['Country', 'SalaryUSD'],ascending = [True, False],inplace=True) 
df[['Country', 'SalaryUSD']].head(50)

                Country  SalaryUSD
Respondent
63129       Afghanistan  1000000.0
50499       Afghanistan   153216.0
39258       Afghanistan    19152.0
58450       Afghanistan    17556.0
7085        Afghanistan    14364.0
22450       Afghanistan     7980.0
48436       Afghanistan     4464.0
10746       Afghanistan     3996.0
8149        Afghanistan     1596.0
29736       Afghanistan     1116.0
28638       Afghanistan        0.0
722         Afghanistan        0.0
85715       Afghanistan        NaN
50767       Afghanistan        NaN
2782        Afghanistan        NaN
63019       Afghanistan        NaN
6417        Afghanistan        NaN
40000       Afghanistan        NaN
88731       Afghanistan        NaN
62525       Afghanistan        NaN
49702       Afghanistan        NaN
33178       Afghanistan        NaN
60946       Afghanistan        NaN
86362       Afghanistan        NaN
88582       Afghanistan        NaN
26340       Afghanistan        NaN
86932       Afghanistan        NaN
85825       Afghanistan        NaN
7353        Afghanistan        NaN
87091       Afghanistan        NaN
58760       Afghanistan        NaN
74386       Afghanistan        NaN
29045       Afghanistan        NaN
51859       Afghanistan        NaN
45854       Afghanistan        NaN
47110       Afghanistan        NaN
44403       Afghanistan        NaN
80926       Afghanistan        NaN
59560       Afghanistan        NaN
60569       Afghanistan        NaN
37802       Afghanistan        NaN
43106       Afghanistan        NaN
12310       Afghanistan        NaN
62168       Afghanistan        NaN
38308           Albania   187668.0
3787            Albania   114550.0
9270            Albania    74474.0
6716            Albania    60000.0
10303           Albania    57300.0
66280           Albania    41244.0

In [195]:
#Getting Largest and Smallest Values. 
#Or N largest
df['SalaryUSD'].nlargest(10)

Respondent
25983    2000000.0
87896    2000000.0
22013    2000000.0
28243    2000000.0
72732    2000000.0
78151    2000000.0
80200    2000000.0
52132    2000000.0
75561    2000000.0
32250    2000000.0
Name: SalaryUSD, dtype: float64

In [196]:
df.nlargest(10,'SalaryUSD')
#df.nsmallest(10,'SalaryUSD')

,level_0,index,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,...,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,last
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
25983,25833,25833,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,"10,000 or more employees","Developer, full-stack",8,16,2,Very satisfied,Very satisfied,Somewhat confident,No,No,"I’m not actively looking, but I am open to new...",3-4 years ago,Solve a brain-teaser style puzzle;Interview wi...,No,Remote work options;Opportunities for professi...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,65500.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meeting...,A few days each month,Office,Average,"Yes, because I see value in code review",2.0,"Yes, it's part of our process",...,Bash/Shell/PowerShell;C#;F#;Python;SQL;TypeScript,Microsoft SQL Server;MySQL,Microsoft SQL Server;MySQL,AWS;Docker;Heroku;Linux;MacOS;Raspberry Pi;Win...,AWS;Docker;Linux;MacOS;Windows,Angular/Angular.js,Angular/Angular.js;Flask;React.js,.NET;.NET Core;Node.js,.NET Core;Node.js,Notepad++;Sublime Text;Vim;Visual Studio;Visua...,Windows,Development;Production,NaN,"Useful for decentralized currency (i.e., Bitcoin)",No,Yes,Yes,Reddit,In real life (in person),Username,2013,Daily or almost daily,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,nan
87896,87353,87353,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,2-9 employees,"Developer, full-stack",9,17,8,Very satisfied,Very satisfied,Somewhat confident,No,I am already a manager,I am not interested in new job opportunities,More than 4 years ago,Write any code;Interview with people in senior...,No,Office environment or company culture;Diversit...,"Something else changed (education, award, medi...",USD,United States dollar,55000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meeting...,All or almost all the time (I'm full-time remote),Home,A little above average,"Yes, because I see value in code review",3.0,"No, but I think we should",...,HTML/CSS;JavaScript;PHP;Ruby;SQL;TypeScript,MariaDB;MySQL;PostgreSQL,MariaDB;MySQL;PostgreSQL,WordPress,NaN,jQuery;Laravel;Vue.js,Express;Laravel;Ruby on Rails;Vue.js,NaN,Node.js,Sublime Text;Vim;Visual Studio Code,Linux-based,I do not use containers,Not at all,Useful for immutable record keeping outside of...,No,Yes,Yes,Twitter,Online,Handle,2011,Daily or almost daily,Find answers to specific questions,3-5 times per week,Stack Overflow was much faster,0-10 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult,nan
22013,21895,21895,I am a developer by profession,True,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Professional degree (JD, MD, etc.)","A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,2-9 employees,Academic researcher;Data scientist or machine ...,3,26,3,Very satisfied,Very satisfied,NaN,NaN,NaN,I am not interested in new job opportunities,3-4 years ago,"Write code by hand (e.g., on a whiteboard);Com...",No,Financial performance or funding status of the...,"Something else changed (education, award, medi...",USD,United States dollar,1500000.0,Weekly,2000000.0,50.0,There's no schedule or spec; I work on what se...,Inadequate access to necessary tools;Meetings;...,All or almost all the time (I'm full-time remote),Home,A little below average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process",...,Python;Swift,Cassandra;Microsoft SQL Server;Oracle,Cassandra,Android;Arduino;Google Cloud Platform;IBM Clou...,IBM Cloud or Watson;Windows,jQuery,NaN,TensorFlow,TensorFlow,Visual Studio;Visual Studio Code,Windows,Development,Implementing our own cryptocurrency,Useful across many domains and could change ma...,Yes,Yes,No,YouTube,Online,Screen Name,NaN,A few times per week,Find answers to specific questions,1-2 times per week,Stack Overflow was much faster,60+ minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,Yes,"Yes, definitely",A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy,nan
28243,28080,28080,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,2-9 employees,"Developer, back-end;Developer, full-stack;Deve...",25,9,14,Neither satisfied nor dissatisfied,Neither satisfied nor dissatisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles;Interview ...,Yes,Financial performance or funding status of the...,I heard about a job opportunity (from a recrui...,USD,United States dollar,2000000.0,Yearly,2000000.0,20.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Not eno...,All or almost all the time (I'm full-time remote),Office,Far above average,"Yes, because I see value in code review",NaN,NaN,...,C;C++;C#,PostgreSQL;SQLite,SQLite,Android;AWS;iOS;MacOS;Windows,Android;Linux,NaN,NaN,Node.js;Pandas;Unity 3D,Unity 3D;Unreal Engine,Android Studio;Coda;PyCharm;Visual Studio;Visu...,MacOS,I do not use containers,NaN,An irresponsible use of resources,No,Yes,No,I don't use social media,In real life (in person),Username,2008,Daily or almost daily,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,60+ minutes,Yes,Multiple times per day,Yes,"No, and I don't know what those are","Yes, definitely",A lot less welcome now than last year,Tech meetups or events in your area,NaN,NaN,NaN,Straight / Heterosexual,NaN,Yes,Too short,Easy,nan
72732,72274,72274,"I am not primarily a developer, but I write co...",False,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Contributed to open source software,NaN,NaN,4,20,5,Slightly satisfied,Slightly satisfied,NaN,NaN,NaN,I am actively looking for a job,More than 4 years ago,Write any code,No,Remote work options;Opportunities for professi...,I was preparing for a job search,USD,United States dollar,80000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Lack of support from management;Meetings;Time ...,Less than once per month / Never,Office,A little above average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process",...,NaN,MongoDB;Microsoft SQL Server;MySQL;Oracle;Post...,MySQL,Android;Windows,AWS;Docker,NaN,Angular/Angular.js;React.js,NaN,NaN,Eclipse;Notepad++;PyCharm,Windows,Testing,NaN,NaN,Yes,Yes,No,WhatsApp,Neither,NaN,2017,A few times per month or weekly,Get a sense of belonging to the developer comm...,1-2 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,A few times per month or weekly,Yes,"No, and I don't know what those are",Not sure,A lot less welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,Yes,Too long,Easy,nan
78151,77665,77665,I am a developer by profession,True,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",15,18,10,Very satisfied,Very satisfied,Somewhat confident,No,Yes,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",Yes,"Languages, frameworks, and other technologies ...","My job status changed (promotion, new job, etc.)",USD,United States dollar,95000.0,Weekly,2000000.0,30.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Office,A little above average,No,NaN,"No, but I think we should",...,C#;TypeScript;WebAssembly,Microsoft SQL Server,Microsoft SQL Server,Windows,Android;Arduino;Raspberry Pi,Angular/Angular.js;ASP.NET;jQuery;Vue.js,Angular/Angular.js;Vue.js,.NET,.NET Core;Xamarin,Visual Studio,Windows,I do not use containers,Non-currency applications of blockchain,Useful for immutable record keeping outside of...,Yes,Yes,Yes,Reddit,In real life (in person),Username,2010,Multiple times per day,Learn how to do things I didn’t necessarily lo...,1-2 times per week,Stack Overflow was much faster,60+ minutes,Yes,A few times per month or weekly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,32.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy,nan
80200,79701,79701,I am a developer by profession,True,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,"1,000 to 4,999 employees","Developer, front-end;Developer, mobile",8,17,4,Very satisfied,Very satisfied,Somewhat confident,Yes,Yes,I am not interested in new job opportunities,More than 4 years ago,Complete a take-home project;Interview with pe...,No,Office environment or company culture;Diversit...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,120000.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Distracting work environment,A few days each month,Office,Average,"Yes, because I see value in code review",15.0,"Yes, it's not part of our process but the deve...",...,Swift,NaN,NaN,Arduino;iOS;MacOS,Arduino;iOS;MacOS;Slack,NaN,NaN,NaN,NaN,Sublime Text;Vim;Xcode,MacOS,I do not use containers,Not at all,Useful for immutable record keeping outside of...,Yes,SIGH,Yes,Instagram,In real life (in person),Handle,2011,Multiple times per day,Find answers to specific questions,1-2 times per week,Stack Overflow was slightly faster,NaN,No,NaN,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are",Neutral,NaN,Tech articles written by other developers,25.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy,nan
52132,51798,51798,I am a developer by profession,True,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Peru,No,Some college/university study without earning ...,I never declared a major,Completed an industry certification program (e...,100 to 499 employees,"Database administrator;Developer, back-end;Dev...",26,15,24,Slightly satisfied,Slightly dissatisfied,Not at all confident,No,I am already a manager,I am not interested in new job opportunities,3-4 years ago,Write any code;Interview with people in peer r...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,75000.0,Weekly,2000000.0,55.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Meetings,All or almost all the time (I'm full-time remote),Home,Far above average,"Yes, because I see value in code review",6.0,"Yes, it's not part of our process but the deve...",...,C++;HTML/CSS;JavaScript;Rust;SQL;TypeScript;We...,Firebase;PostgreSQL,Firebase;PostgreSQL,Android;AWS;Docker;Linux;Microsoft Azure;Slack...,Android;Arduino;Kubernetes;Linux;Raspberry Pi,Express,Express,Ansible;Cordova;Node.js,Ansible;Cordova;Node.js,Vim;Visual Studio Code,Linux-based,Development;Testing;Production,Not at all,A passing fad,No,SIGH,What?,WhatsApp,Neither,Username,2008,A few times per week,Find answers to specific questions,1-2 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,48.0,Man,NaN,NaN,Black or of African descent;East Asian;Hispani...,Yes,Appropriate in length,Easy,nan
75561,75088,75088,I am a developer by profession,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Singapore,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",Taken an online course in programming or softw...,"10,000 or more employees","Developer, back-end;Developer, front-end;Devel...",19,10,16,Very satisfied,Very satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,1-2 years ago,Complete a take-home project;Interview with pe...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,223000.0,Monthly,2000000.0,38.0,There's no schedule or spec; I work on what se...,"Meetings;Non-work commitments (parenting, scho...","More than half, but not all, the time",Home,Far above average,No,NaN,"Yes, it's part of our process",...,Bash/Shell/PowerShell;F#;HTML/CSS;JavaScript;P...,DynamoDB;Elasticsearch;PostgreSQL,DynamoDB;Elasticsearch;PostgreSQL,AWS;Linux;MacOS,AWS;Linux;MacOS,React.js,React.js,Node.js,Node.js;React Native,Vim;Visual Studio Code,MacOS,Development,Non-currency applications of blockchain,NaN,No,Yes,Yes,Twitter,In real life (in person),Username,2008,Daily or almost daily,Find answers to specific questions;Contribute ...,3-5 times per week,The other resource was much faster,11-30 minutes,Yes,A few times per week,Yes,"No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,nan
32250,32056,32056,I am a developer by profession,True,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Switzerland,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken a part-time in-person course in programm...,2-9 employees,Academic researcher;Data scientist or machine ...,16,14,9,Slightly satisfied,Very satisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",Yes,Office environment or company culture;Opportun...,"Something else changed (education, award, medi...",USD,United States dollar,200000.0,Monthly,2000000.0,50.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Non-wor...,All or almost all the time (I'm full-time remote),Home,Far above average,"Yes, because I see value in code review",20.0,"Yes, it's part of our process",...,C#;HTML/CSS;JavaScript,DynamoDB;Elasticsearch;Redis,DynamoDB;Elasticsearch,Android;AWS;Docker;Google Cloud Platform;IBM C...,AWS;Linux,ASP.NET;Express;React.js;Vue.js,Vue.js,.NET Core;Node.js;TensorFlow,Node.js,Visual Studio Code,Linux-based,Development;Testing;Production;Outside of work...,NaN,Useful across many domains and could change ma...,Yes,Also Yes,Yes,Twitter,Online,NaN,2008,A few times per week,Find answers to specific questions;Learn how t...,Less than once per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per week,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, somewhat",Just as welcome now as I felt last year,Industry news about technologies you're intere...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,nan