In [2]:
import pandas as pd
import numpy as np 
from pathlib import Path

input = Path.cwd().parent / "data"

In [24]:
products = pd.read_csv(input / "products.csv")
orders = pd.read_csv(input / "orders.csv")

In [21]:
products

   product_id         name  price
0           1  MacBook Pro   2000
1           2       Lenovo   1500
2           3         Asus   1000

In [20]:
orders

   order_id  product_id        date  customer_id
0         1           2  2020-09-01            2
1         2           1   2020-08-3            1
2         3           2  2020-10-01            2
3         4           2  2020-10-01            2

In [25]:
orders.merge(products, on="product_id", how="right")

   order_id  product_id        date  customer_id         name  price
0       2.0           1   2020-08-3          1.0  MacBook Pro   2000
1       1.0           2  2020-09-01          2.0       Lenovo   1500
2       3.0           2  2020-10-01          2.0       Lenovo   1500
3       4.0           2  2020-10-01          2.0       Lenovo   1500
4       1.0           2  2020-09-01          2.0       Lenovo   1000
5       3.0           2  2020-10-01          2.0       Lenovo   1000
6       4.0           2  2020-10-01          2.0       Lenovo   1000
7       NaN           3         NaN          NaN         Asus   1000

In [26]:
orders

   order_id  product_id        date  customer_id
0         1           2  2020-09-01            2
1         2           1   2020-08-3            1
2         3           2  2020-10-01            2
3         4           2  2020-10-01            2

In [27]:
cols = orders.columns

In [28]:
cols

Index(['order_id', 'product_id', 'date', 'customer_id'], dtype='object')

In [30]:
def create_map(row):
    return [{col:row[col]} for i,col in enumerate(cols)]

orders['obj'] = orders.apply(create_map, axis=1)

In [31]:
orders

,order_id,product_id,date,customer_id,obj
0,1,2,2020-09-01,2,"[{'order_id': 1}, {'product_id': 2}, {'date': ..."
1,2,1,2020-08-3,1,"[{'order_id': 2}, {'product_id': 1}, {'date': ..."
2,3,2,2020-10-01,2,"[{'order_id': 3}, {'product_id': 2}, {'date': ..."
3,4,2,2020-10-01,2,"[{'order_id': 4}, {'product_id': 2}, {'date': ..."